body
{
  background-image: url("Zoe.png");
  background-size: 2100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
}
.bc1
{
  text-align: center;
}
.grid-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto auto auto ;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h1
{
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  color: #ff9900
}
ul
{
  font-size: 25px;
  color: #ff9900;
  text-shadow: 1px 1px 1px black;
}
p
{
  font-size: 25px;
  color: #ff9900;
  text-shadow: 2px 2px 2px black;
}
.navDiv ul {

    margin-left: 20px;
    padding-right: 40px;

}.list-unstyled {

    padding-left: 0;
    list-style: none;

}
ol, ul {

    margin-top: 0;
    margin-bottom: 10px;

}
div.navDiv {

    line-height: 42px;

}
.blue-bg {

    color: white;

}
body {

    font-family: 'Reactor7', monospace;
    text-shadow: 1px 1px 1px rgba(20,20,20,1);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
  }

h2
{
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  color: #ff5050
}
.starter-template {

  padding: 40px 15px;

  text-align: center;
}
 body {
   background-size: 3850px;
 }
}
.row [class^="col-"] {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
